<main class="shopStyle-main">
  <section class="shop-menu">
    <div class="container shop-menu__wrapper">
      <div class="shop-menu__catergories" id="catergories">
        <div class="shop-menu__titleBox unshow">
          <h4 class="heading--4 shop-menu__title">Tìm kiếm gần nhất</h4>
          <div class="divider-style-1">
            <span class="divider-style-1__point"></span>
            <span class="divider-style-1__line"></span>
          </div>
        </div>

        <div class="shop-menu__itemBox">
          <a href="#" class="shop-menu__itemFind"
            ><h5 class="heading--5 shop-menu__itemName">Burger</h5>
          </a>
          <a href="#" class="shop-menu__itemFind"
            ><h5 class="heading--5 shop-menu__itemName">Restaurant</h5>
          </a>
          <a href="#" class="shop-menu__itemFind"
            ><h5 class="heading--5 shop-menu__itemName">Pizza</h5>
          </a>
          <a href="#" class="shop-menu__itemFind"
            ><h5 class="heading--5 shop-menu__itemName">Burger</h5>
          </a>
        </div>

        <div class="shop-menu__titleBox">
          <h4 class="heading--4 shop-menu__title">Danh sách món ăn</h4>
          <div class="divider-style-1">
            <span class="divider-style-1__point"></span>
            <span class="divider-style-1__line"></span>
          </div>
        </div>

        <ul class="shop-menu__list">
          <li class="shop-menu__item">
            <input type="radio" name="foodFine" checked="true" id="pizzaItem" /><label
              for="pizzaItem"
              >Pizza</label
            >
          </li>
          <li class="shop-menu__item">
            <input type="radio" name="foodFine" id="pasta" /><label for="pasta"
              >Pasta</label
            >
          </li>
          <li class="shop-menu__item">
            <input type="radio" name="foodFine" id="burger" /><label for="burger"
              >Burger</label
            >
          </li>
          <li class="shop-menu__item">
            <input type="radio" name="foodFine" id="drink" /><label for="drink"
              >Drink</label
            >
          </li>
          <li class="shop-menu__item">
            <input type="radio" name="foodFine" id="pastry" /><label for="pastry"
              >Pastry</label
            >
          </li>
        </ul>

        <button class="shop-menu__buttonMobile" id="catergories__removeBtn"><span>X</span></button>
      </div>
      <div class="shop-menu__menuItem">
          <div class="shop-menu__titleBox shop-menu__titleBoxMobile">
            <h4 class="heading--4 shop-menu__title clearFix">
              Kết quả<span class="shop-menu__result">30 Món ăn</span>
            </h4>
            <button class="shopStyle-searchBtn" id="btnFindMenuSearch">
              <img src="img/svg/search.svg" alt="icon-svg">
            </button>
          </div>

        <ul class="shop-menu__listOfFood">
          <li class="shop-menu__foodItem">
            <div class="shop-menu__imageBox">
              <img
                src="img/foodItem/fooditem1.jpg"
                alt=""
                srcset=""
                class="shop-menu__image"
              />
            </div>
            <a href="#" class="shop-menu__foodItemContainer">
              <div class="shop-menu__foodTitle">
                <i
                  class="shop-menu__statusIcon shop-menu__statusIcon-active"
                ></i>
                <h5 class="shop-menu__foodItemName">Hamburger</h5>
                <i class="shop-menu__rate">
                  <img
                    src="img/svg/star.svg"
                    alt="icon"
                    srcset=""
                    class="shop-menu__icon"
                  />
                  <span class="shop-menu__ratePoint">4.5</span>
                </i>
              </div>

              <div class="shop-menu__foodStatus">
                <div class="shop-menu__foodStatus-box--left">
                  <p class="shop-menu__foodStatus-content">
                    By<strong>ThanhTrí</strong>
                  </p>
                  <div class="shop-menu__foodStatus-content">
                    <img
                      src="img/svg/fast-food-delivery-bike-12992.svg"
                      class="shop-menu__icon--2"
                      alt=""
                      srcset=""
                    /><i>30 phút</i>
                  </div>
                </div>
                <div class="shop-menu__foodStatus-box--right">
                  <p class="shop-menu__prices">100,000 vnđ</p>
                  <i class="shop-menu__foodStatus-box--right-item">1 cái</i>
                  <button class="shop-menu__btnCta"><img src="img/svg/arrow-right2.svg" alt="" srcset=""></button>
                </div>
              </div>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </section>  
</main>