.grid-container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: [colLeft-start] 1fr [colLeft-end center-start] 3fr [center-end colRight-start] 1fr [colRight-end] ;
}

.main-content {
  height: 100vh;
  width: 100%;
  background-color: aquamarine;
  grid-column: center-start / center-end;
}