.header {
  width: 100%;
  background-color: $color-primary-light-1;
  position: fixed;
  z-index: 1000;
  background-color: transparent;
  &__shopStyle {
    background-color: transparent;
  }
}
// -----Video background ------- //
.background__video {
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 100%;
  overflow: hidden;
  opacity: 0.8;

  &__header {
    object-fit: cover;
    object-position: center;
  }
}



