.header {
  height: 85vh;
  width: 100%;
  background-image: linear-gradient(left, rgba(#fff, 0.01), rgba($color-background, 0.09));
  background-color: $color-background;
  position: relative;
}

// -----Video background ------- //
.background__video {
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 100%;
  overflow: hidden;
  opacity: 0.8;

  &__header {
    object-fit: cover;
    object-position: center;
  }

}



.navbar-top {
  width: 100%;
  // height: 5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;

  &__logo-link {
    height: 100%;
    flex: 0 1 49.999999%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 3.5rem 0rem;
  }

  &__logo {
    transform: scale(1.5);
    display: inline-block;
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }

  &__right {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 0 1 49.999999%;
    gap: 3rem;
  }

  &__link:link,
  &__link:visited {
    color: $color-text-light;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    transition: transform 0.3s, width 0.4s cubic-bezier(1, -0.05, 0, 1.07) 0.4s,
      background-color 0.1s;
  }

  &__before {
    width: 100%;
    height: 1px;
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -5px;
    left: 0;
    // transition: transform 0.3s, width 0.4s cubic-bezier(1, -0.05, 0, 1.07) 0.2s,
    // background-color 0.1s;

    &::before {
      width: 0px;
      height: 1px;
      content: "";
      background-color: #fff;
      transition: all 0.3s cubic-bezier(1, -0.05, 0, 1.07);
    }
  }

  &__link:hover &__before::before {
    width: 100%;
  }

  &__link:hover &__icon {
    transform: rotate(-180deg);
  }

  &__icon {
    width: 1.2rem;
    height: 1.5rem;
    fill: #fff;
    transition: transform 0.3s;
  }

  &__box {
    display: flex;
  }

  // Dropdown-menu //
  &__item {
    box-sizing: border-box;
    position: relative;
  }

  &__item--1 &__dropdown-menu--large {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 40vh;
    top: 9.4rem;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    transform-origin: top;
    transform: scaleY(0);
    transition: all 0.4s;
    z-index: 1000;
    // Làm chậm hiệu ứng animation để có thể select menu
    // Làm dropdown menu phụ thuộc rất lớn vào đối tượng cha và con
  }

  &__item--1:hover &__dropdown-menu--large {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
  }

  &__item--2 &__dropdown-menu-small,
  &__item--3 &__dropdown-menu-small {
    position: fixed;
    display: flex;
    width: 25rem;
    height: 15rem;
    top: 9.4rem;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    transform-origin: top;
    transform: scaleY(0);
    transition: all 0.4s;
    z-index: 1000;
  }

  &__item--2:hover &__dropdown-menu-small,
  &__item--3:hover &__dropdown-menu-small {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
  }

  // -------------------- Style icons -------------------- //
  &__box {
    justify-content: space-evenly;
    gap: 1rem;
  }

  &__iconBox {
    width: 2rem;
    height: 2rem;
    fill: #fff;
  }

  &__icons {

    &:not(:last-child) {
      margin-left: 1rem;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-left: 2rem;
    }

    &--order {
      display: inline-block;
      padding: 1rem 2rem;
      border-radius: 100px;
      border: 1px solid #fff;
      transition: all 0.2s;
      align-items: center;

      &:hover {
        text-decoration: underline;
      }
    }

    &--search:link,
    &--search:visited,
    &--account:link,
    &--account:visited {
      display: flex;
      padding: 1rem;
      border-radius: 50%;
      border: 1px solid #fff;
      transition: all 0.2s;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: $color-primary;
      }
    }

    &--cart:link,
    &--cart:visited {
      flex-direction: column;
      justify-content: center;
      gap: 0.2rem;
    }
  }
}
