@import 'asbtracts/variables';
@import 'asbtracts/mixins';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/homepage';
@import 'pages/shopStyle';
@import 'pages/checkout';
@import 'pages/loginSite';
@import 'typographies/typographies';  


@import 'bases/animation';
@import 'bases/base';

@import 'components/cart';
@import 'components/navigation';
@import 'components/bannerFood';
@import 'components/specialFood';
@import 'components/cardOrder';
@import 'components/menuSlide';
@import 'components/buttonStyle';
@import 'components/policies';
@import 'components/customerReview';
@import 'components/blogFood';
@import 'components/inputSearch';
@import 'components/shopMenu';
@import 'components/divider';
@import 'components/itemDetails';
@import 'components/tabpanel';
@import 'components/formContact';
@import 'components/whistList';
@import 'components/toggle';
@import 'components/order-menu';
@import 'components/cartSite';
@import 'ultilities/helper';
@import 'components/buttonSubmit';
@import 'components/popUpModal';
@import 'components/pagination';
@import 'components/orderBill';

@import 'pages/admin';

@import 'ultilities/ultiliy.scss';




