<div class="form-crud user-form" id="addForm">
  <form class="row g-3 form-crud__form" id="userForm" enctype="multipart/form-data" action="../handle-user/create-new-user" method="POST">
    <div class="col-12">
      <label for="Useremail" class="form-label label-title">Email</label>
      <input type="email" class="form-control input-value" id="Useremail" name="userEmail" placeholder="Nhập Địa chỉ Email">
      <span class="text-error-message"></span>
    </div>
    <div class="col-6 password-field">
      <label for="Userpassword" class="form-label label-title">Mật khẩu</label>
      <input type="password" class="form-control input-value" id="Userpassword" name="userPassword" placeholder="Nhập mật khẩu">
      <span class="text-error-message"></span>
      <div class="passwordHidden" id="acc-password-icon-regist">
        <img
          src="../img/svg/evil.svg"
          class="icon-svg"
          sizes=""
          alt=""
          srcset=""
        />
        <div class="straightLine"></div>
      </div>
    </div>

    <div class="col-6 password-field">
      <label for="UserpasswordConfirm" class="form-label label-title">Xác nhận mật khẩu</label>
      <input type="password" class="form-control input-value" id="UserpasswordConfirm" name="userPasswordConfirm" placeholder="Nhập mật khẩu">
      <span class="text-error-message"></span>
      <div class="passwordHidden" id="acc-password-icon-regist-confirm">
        <img
          src="../img/svg/evil.svg"
          class="icon-svg"
          sizes=""
          alt=""
          srcset=""
        />
        <div class="straightLine"></div>
      </div>
    </div>

    <div class="col-12">
      <label for="Username" class="form-label label-title">Tên người dùng</label>
      <input type="text" class="form-control input-value" id="Username" name="userName" placeholder="Nhập Tài khoản người dùng">
      <span class="text-error-message"></span>
    </div>
    <div class="col-6 ">
      <label for="productimage" class="form-label label-title">Upload hình ảnh</label>
      <input type="file" accept="" class="form-control input-value mb-2" id="productimage" name="userImage" placeholder="upload hình">
      <span class="text-error-message"></span>
    </div>
    <div class="col-6">
      <label for="UserRole" class="form-label label-title">RoleId</label>
      <select id="UserRole" class="form-select input-value" name="userRole">
        <option value="">Thiết lập vai trò người dùng</option>
        <% for(let i = 0; i < roleSelected.length; i++) { %>
          <option value="<%= roleSelected[i].id %>"><%= roleSelected[i].roleName %></option>
        <% } %>
      </select>
      <span class="text-error-message"></span>
    </div>  

    <div class="col-12 mb-3">
      <div class="image-holder">
        <div class="image-holder__img">
          <img src="" alt="Image" id="output" class="image-holder__image">
        </div>
      </div>
    </div>
   
    <div class="col-12 mt-5 mb-3 d-flex justify-item-center">
      <button  type="submit" class="btn btn-Submit btn-admin-page">Thêm người dùng vào hệ thống</button>
    </div>
  </form>
  <div id="remove"><i class="fas fa-times"></i></div> 
</div>