<main class="main shopWishlist-main">
  <section class="whistlist">
    <div class="container whistlist__wrapper">
      <form class="whistlist__form" action="" method="post">
        <table class="whistlist__list">
          <thead class="whistlist__heading">
            <tr>
              <th class="whistlist__title">Món ăn</th>
              <th class="whistlist__title">Tên món ăn</th>
              <th class="whistlist__title">Giá</th>
              <th class="whistlist__title">Thêm vào giỏ hàng</th>
              <th class="whistlist__title">Đóng</th>
            </tr>
          </thead>

          <tbody class="whistlist__body">
            <tr>
              <td data-cell="hinh ảnh:">
                <div class="whistlist__imageBox">
                  <img
                    class="whistlist__image"
                    src="img/foodItem/fooditem1.jpg"
                    alt=""
                    srcset=""
                  />
                </div>
              </td>
              <td data-cell="tên món ăn:">
                <h4 class="whistlist__foodName">Cheese Pizza</h4>
              </td>
              <td data-cell="giá:">
                <i class="whistlist__price">300,000 vnđ</i>
              </td>
              <td role="button-addToCart">
                <a href="http://" class="btn-link card-order__btn"
                  >Add to cart</a
                >
              </td>
              <td role="button-remove">
                <button class="whistlist__cta" type="submit">
                  <img src="img/svg/cross.svg" alt="" srcset="" />
                </button>
              </td>
            </tr>

            <tr>
              <td data-cell="hinh ảnh:">
                <div class="whistlist__imageBox">
                  <img
                    class="whistlist__image"
                    src="img/foodItem/fooditem1.jpg"
                    alt=""
                    srcset=""
                  />
                </div>
              </td>
              <td data-cell="tên món ăn:">
                <h4 class="whistlist__foodName">Cheese Pizza</h4>
              </td>
              <td data-cell="giá:">
                <i class="whistlist__price">300,000 vnđ</i>
              </td>
              <td role="button-addToCart">
                <a href="http://" class="btn-link card-order__btn"
                  >Add to cart</a
                >
              </td>
              <td role="button-remove">
                <button class="whistlist__cta" type="submit">
                  <img src="img/svg/cross.svg" alt="" srcset="" />
                </button>
              </td>
            </tr>

            <tr>
              <td data-cell="hinh ảnh:">
                <div class="whistlist__imageBox">
                  <img
                    class="whistlist__image"
                    src="img/foodItem/fooditem1.jpg"
                    alt=""
                    srcset=""
                  />
                </div>
              </td>
              <td data-cell="tên món ăn:">
                <h4 class="whistlist__foodName">Cheese Pizza</h4>
              </td>
              <td data-cell="giá:">
                <i class="whistlist__price">300,000 vnđ</i>
              </td>
              <td role="button-addToCart">
                <a href="http://" class="btn-link card-order__btn"
                  >Add to cart</a
                >
              </td>
              <td role="button-remove">
                <button class="whistlist__cta" type="submit">
                  <img src="img/svg/cross.svg" alt="" srcset="" />
                </button>
              </td>
            </tr>

            <tr>
              <td data-cell="hinh ảnh:">
                <div class="whistlist__imageBox">
                  <img
                    class="whistlist__image"
                    src="img/foodItem/fooditem1.jpg"
                    alt=""
                    srcset=""
                  />
                </div>
              </td>
              <td data-cell="tên món ăn:">
                <h4 class="whistlist__foodName">Cheese Pizza</h4>
              </td>
              <td data-cell="giá:">
                <i class="whistlist__price">300,000 vnđ</i>
              </td>
              <td role="button-addToCart">
                <a href="http://" class="btn-link card-order__btn"
                  >Add to cart</a
                >
              </td>
              <td role="button-remove">
                <button class="whistlist__cta" type="submit">
                  <img src="img/svg/cross.svg" alt="" srcset="" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </section>
</main>