@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

body {
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    body {
      overflow-y: scroll; } }

#backgroundColor {
  background-color: #dfe9f5;
  transition: background-color 0.8s; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 46.25%; } }

.container-admin {
  display: flex; }

.admin-page {
  /* Main Section */ }
  .admin-page nav {
    padding-top: 25px;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #fff;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 56.25em) {
      .admin-page nav.admin-bar {
        position: fixed;
        height: 100%;
        z-index: 999999;
        transform: translateX(-100%);
        transition: all .4s; } }
    @media only screen and (max-width: 56.25em) {
      .admin-page nav.admin-bar.active-navBar {
        transform: translateX(0%); } }
  .admin-page .nav-title {
    margin-left: 0 !important; }
  .admin-page .nav-list li {
    padding-left: 2rem; }
  .admin-page .logo {
    text-align: center;
    display: block; }
  .admin-page .logo h2 {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    padding: 0; }
  .admin-page a {
    position: relative;
    color: #555353;
    font-size: 14px;
    display: flex;
    width: 280px;
    padding: 1.5rem;
    gap: 2rem;
    margin-bottom: 2rem;
    text-decoration: none; }
  .admin-page nav .fas {
    position: relative;
    font-size: 20px;
    text-align: center; }
  .admin-page nav ul {
    padding: 10px 0; }
  .admin-page .nav-item {
    position: relative;
    margin-left: 10px; }
  .admin-page .logout {
    position: absolute;
    bottom: 0;
    left: 2rem; }
  .admin-page .main {
    position: relative;
    padding: 20px;
    width: 100%; }
  .admin-page .main-field {
    margin-top: 20px;
    text-transform: capitalize; }
  .admin-page .main-nav-bar {
    width: 100%;
    height: 80px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: none;
    display: flex;
    align-items: center;
    padding: 0;
    flex-direction: row;
    justify-content: space-between; }
    .admin-page .main-nav-bar .btnChangeColor {
      width: 6rem;
      height: 20%;
      background-color: #d8d8d8;
      margin-left: 4rem;
      border-radius: 12px;
      box-sizing: border-box;
      position: relative;
      transition: all 3s;
      cursor: pointer; }
      .admin-page .main-nav-bar .btnChangeColor .btnChange {
        content: "";
        background-color: #dfe9f5;
        width: 3.5rem;
        height: 3.5rem;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: -60%;
        transition: all 0.8s; }
        .admin-page .main-nav-bar .btnChangeColor .btnChange.btnChangeActive {
          transform: translateX(3rem); }
      .admin-page .main-nav-bar .btnChangeColor.backColorAtive {
        background-color: #333; }
    .admin-page .main-nav-bar__search {
      display: flex;
      gap: 1.5rem;
      position: relative;
      margin-right: 5rem; }
    .admin-page .main-nav-bar__right {
      display: flex; }
    .admin-page .main-nav-bar__input[type="Text"] {
      border: 1px solid #dad9d9;
      width: 40rem;
      padding: 1.5rem 4rem 1.5rem 2rem;
      border-radius: 8px;
      font-size: 1.8rem;
      color: #a1a0a0; }
    .admin-page .main-nav-bar__button {
      background: none;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      cursor: pointer; }
      .admin-page .main-nav-bar__button i {
        font-size: 2.8rem; }
    .admin-page .main-nav-bar__logo {
      border-radius: 50%;
      margin: 0rem 4rem; }
      .admin-page .main-nav-bar__logo .main-nav-bar__image {
        width: 6rem;
        height: 6rem;
        border-radius: 50%; }
  .admin-page .main-top-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem; }
    .admin-page .main-top-wrapper .main-title {
      font-size: 2.4rem; }
    .admin-page .main-top-wrapper .btn-addProduct {
      display: flex;
      background-color: #04aa6d;
      width: 6rem;
      padding: 0;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      transition: all 0.2s; }
      .admin-page .main-top-wrapper .btn-addProduct i {
        padding: 1rem 2rem; }
      .admin-page .main-top-wrapper .btn-addProduct:hover {
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2); }
  .admin-page .display-data-box {
    width: 100%;
    margin-top: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1); }
    .admin-page .display-data-box .data-table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%; }
      .admin-page .display-data-box .data-table tbody {
        border-radius: 8px; }
      .admin-page .display-data-box .data-table td,
      .admin-page .display-data-box .data-table th {
        padding: 8px;
        text-align: center; }
      .admin-page .display-data-box .data-table tr {
        background: #fff; }
      .admin-page .display-data-box .data-table tr:first-child {
        border-radius: 8px; }
      .admin-page .display-data-box .data-table tr:nth-child(even) {
        background-color: #f2f2f2; }
      .admin-page .display-data-box .data-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #04aa6d;
        color: white;
        font-size: 1.8rem; }
      .admin-page .display-data-box .data-table .user-name {
        width: 24rem !important; }
      .admin-page .display-data-box .data-table .user-password {
        width: 35rem !important;
        padding-top: 2rem;
        overflow-x: scroll;
        display: inline-block; }
      .admin-page .display-data-box .data-table .user-email {
        width: 30rem !important; }
      .admin-page .display-data-box .data-table .manage-col {
        width: 15rem !important; }
        .admin-page .display-data-box .data-table .manage-col form {
          display: flex;
          gap: 4rem;
          justify-content: center; }
        .admin-page .display-data-box .data-table .manage-col a {
          padding: 0 !important; }
      .admin-page .display-data-box .data-table .date-Crea-Updat {
        width: 30rem !important; }
      .admin-page .display-data-box .data-table .th-stt {
        width: 4rem !important;
        padding-left: 2rem; }
      .admin-page .display-data-box .data-table td {
        font-size: 1.6rem; }
        .admin-page .display-data-box .data-table td img.imageData {
          width: 10rem;
          height: 10rem;
          border-radius: 8px; }
      .admin-page .display-data-box .data-table .desc {
        width: 20rem;
        height: 3rem;
        overflow: hidden; }
      .admin-page .display-data-box .data-table td.manage form {
        display: flex;
        gap: 4rem;
        align-items: center;
        justify-content: center; }
      .admin-page .display-data-box .data-table .btn-call-action {
        border: none;
        cursor: pointer; }
        .admin-page .display-data-box .data-table .btn-call-action i {
          padding: 1rem 0;
          font-size: 2.8rem; }
      .admin-page .display-data-box .data-table .btn-call-action-edit,
      .admin-page .display-data-box .data-table .btn-call-action-delete {
        width: auto;
        margin-bottom: 0; }

.form-crud,
.form-crudEdit {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 80rem;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 50rem;
  transform: translateX(-50%);
  transition: all 0.8s; }
  .form-crud__form,
  .form-crudEdit__form {
    padding: 2rem; }
  .form-crud .desc-field,
  .form-crudEdit .desc-field {
    height: 10rem;
    resize: none; }
  .form-crud .label-title,
  .form-crudEdit .label-title {
    font-size: 1.8rem; }
  .form-crud .input-title,
  .form-crud .input-value,
  .form-crudEdit .input-title,
  .form-crudEdit .input-value {
    font-size: 1.6rem;
    padding: 1rem 1rem 1rem 1.5rem;
    box-shadow: none !important; }
    .form-crud .input-title.input-active,
    .form-crud .input-value.input-active,
    .form-crudEdit .input-title.input-active,
    .form-crudEdit .input-value.input-active {
      border: 1px solid #ee2737;
      outline-color: #ee2737; }
  .form-crud .password-field,
  .form-crudEdit .password-field {
    position: relative; }
  .form-crud .passwordHidden,
  .form-crudEdit .passwordHidden {
    position: absolute;
    right: 2rem;
    top: 4.5rem;
    cursor: pointer; }
    .form-crud .passwordHidden img,
    .form-crudEdit .passwordHidden img {
      width: 2rem;
      height: 2rem; }
    .form-crud .passwordHidden .straightLine,
    .form-crudEdit .passwordHidden .straightLine {
      display: inline-block;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 4rem;
      height: 1rem;
      border-bottom: 2px solid black;
      z-index: 2;
      transform: rotate(-45deg) translate(-10px, -10px); }
  .form-crud .btn-Submit,
  .form-crudEdit .btn-Submit {
    background-color: #04aa6d;
    color: #fff;
    padding: 1rem 1.2rem;
    font-size: 1.8rem;
    float: right; }
  .form-crud .btn-admin-page,
  .form-crudEdit .btn-admin-page {
    float: none; }
  .form-crud .image-holder,
  .form-crudEdit .image-holder {
    width: 100%;
    border-radius: 8px;
    border: 2px dashed black; }
    .form-crud .image-holder__img,
    .form-crudEdit .image-holder__img {
      margin: 2rem auto;
      max-width: 25rem;
      border-radius: 8px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center; }
    .form-crud .image-holder__image,
    .form-crudEdit .image-holder__image {
      width: 35%;
      height: 35%;
      border-radius: 8px; }
  .form-crud .text-error-message,
  .form-crudEdit .text-error-message {
    display: none;
    font-size: 1.4rem;
    color: #ee2737;
    margin-top: 5px;
    transition: all 0.3s; }

.catergory-form {
  max-width: 45rem; }

.user-form {
  max-width: 65rem; }

.form-crud.formActive,
.form-crudEdit.formActive {
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible; }

.user-form.formActive {
  transform: translate(-50%, -60%); }

#remove,
#removeEdit {
  width: 6rem;
  height: 6rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fa4252;
  top: -2.5rem;
  right: -3rem;
  cursor: pointer; }
  #remove i,
  #removeEdit i {
    font-size: 2.4rem;
    color: #fff; }

.edit-item-page .form-crudEdit {
  top: 50%;
  transform: translate(-50%, 10%); }

.modal-pop-up {
  box-sizing: border-box;
  padding: 2rem;
  background-color: #ffffff;
  width: 60rem;
  border-radius: 8px;
  position: fixed;
  left: 0;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s; }
  .modal-pop-up__header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .modal-pop-up__header .modal-pop-up__icon {
      background: none;
      font-size: 2.4rem; }
  .modal-pop-up__title {
    font-size: 2.4rem;
    margin-bottom: 0; }
  .modal-pop-up__paragraph {
    font-size: 1.6rem;
    padding: 3rem 0;
    margin: 3rem 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd; }
  .modal-pop-up .modal-pop-upBtn {
    display: flex;
    float: right; }
    .modal-pop-up .modal-pop-upBtn .btn-click-action {
      text-decoration: none;
      color: #fff;
      padding: 1rem 2rem;
      background-color: #04aa6d;
      font-size: 1.6rem;
      border-radius: 4px; }
      .modal-pop-up .modal-pop-upBtn .btn-click-action:first-child {
        margin-right: 1rem; }
      .modal-pop-up .modal-pop-upBtn .btn-click-action:last-child {
        background-color: #ee2737; }
  .modal-pop-up.modal-pop-up-active {
    top: 20%;
    opacity: 1;
    visibility: visible; }

.index-page {
  margin: 40rem auto; }
  .index-page h1 {
    font-family: "Coiny", cursive, sans-serif;
    font-size: 4.8rem; }

.edit-form-btn-wrap {
  display: flex;
  float: right;
  justify-content: end;
  gap: 1rem; }
  .edit-form-btn-wrap button,
  .edit-form-btn-wrap a {
    float: none !important; }
  .edit-form-btn-wrap button.btn-Submit {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #f33f4d; }

.justify-item-center {
  justify-content: center; }

.pagination-page {
  display: flex;
  margin-top: 5rem;
  gap: 1rem;
  justify-content: center; }
  .pagination-page .selectedLink {
    display: flex;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    background-color: #04aa6d; }

.toggle {
  width: 5rem;
  height: 5rem;
  background-color: #f33f4d;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .toggle {
      display: flex;
      position: relative;
      z-index: 9999999; } }
  @media only screen and (max-width: 25em) {
    .toggle {
      width: 7rem;
      height: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .toggle {
      width: 6rem;
      height: 6rem; } }
  .toggle__shape {
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition: all .3s; }
    .toggle__shape:not(:last-child) {
      margin-bottom: 8px; }
  .toggle__active .toggle__shape {
    transition: all .3s; }
    .toggle__active .toggle__shape--2 {
      display: none; }
    .toggle__active .toggle__shape--1 {
      transform: rotate(45deg) translate(3px, 3px); }
    .toggle__active .toggle__shape--3 {
      transform: rotate(-45deg) translate(4px, -3px); }

@keyframes cirlceWheel {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.icon-box {
  display: none;
  margin-left: auto;
  padding-right: 1rem;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .icon-box {
      display: block; } }
  @media only screen and (max-width: 43.75em) {
    .icon-box {
      display: block; } }
  .icon-box i {
    display: block;
    font-size: 3.2rem;
    color: #000;
    transform: rotate(135deg);
    animation: cirlceWheel 3s steps(2) 0.2s infinite;
    -webkit-animation: cirlceWheel 3s linear infinite; }
