.banner-homepage {
  width: 100%;
  background-image: url("../img/bgheader.jpg");
  object-fit: cover;
  object-position: center;
  background-size: 100%;
}

.banner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15rem;
  @include respond(mac-book) {
    max-width: 110rem;
  }
  @include respond(medium-desktop) {
    justify-content: center;
  }
  @include respond(tab-port) {
    max-width: 110rem;
    flex-direction: column;
  }
}

// ------------------ SECTION BANNER ------------------//
.content-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond(medium-desktop) {
    padding-left: 10rem;
  }
  @include respond(tab-port) {
    padding-left: 0rem;
  }

  &__title {
    font-size: 14rem;
    color: $color-primary;
    font-weight: 350;
    @include respond(phoneSmallSize) {
      margin-bottom: 5.8rem;
    }

    @include respond(phoneUnder5xx) {
      margin-bottom: 5.8rem;  
    }
    
  }

  &__text {
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: -4.5rem;
    line-height: 1.1;

    @include respond(tab-port) {
      margin-top: -4.5rem;
      margin-bottom: 1rem;
    }

    @include respond(phoneUnder5xx) {
      font-size: 2rem;
    }
  }

  &__btn:link,
  &__btn:visited {
    color: #fff;
    text-decoration: none;
    height: 5rem;
    font-size: 1.6rem;
    overflow: hidden;
    background-color: $color-primary;
    border-radius: 4px;
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
  }

  &__btn,
  &__btn {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;

    &--cta1 {
      padding: 1.5rem 1.5rem;
      display: inline-block;
    }

    &--cta2 {
      padding: 1.5rem 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover &--cta1 {
      transform: translateY(-100%);
    }

    &:hover &--cta2 {
      transform: translateY(-100%);
    }
  }

  &__phoneNumber {
    font-size: 2.8rem;
    letter-spacing: 0.4rem;
  }
  &__webaddress {
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    color: $color-primary;
  }
}

.img-banner {
  width: 80rem;
  height: 50rem;
  display: flex;
  align-items: center;
  transform: skewY(-5deg);
  animation-name: flying;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  cursor: pointer;
  user-select: none;
  @include respond(medium-desktop) {
    justify-content: center;
  }

  @include respond(tab-port) {
    width: 70rem;
  }
  @include respond(phoneMediumsize) {
    width: 60rem;
  }
  @include respond(phone) {
    order: -1;
    height: auto;
  }

  &__sources {
    width: 100%;
    @include respond(medium-desktop) {
      width: 100%;
    }
    @include respond(tab-land) {
      width: 100%;
    }

    @include respond(phone) {
      width: 85%;
    }

    @include respond(phoneSmallSize) {
      width: 80%;
    }
  }
}

// ------------------ SECTION BANNER ------------------//
.daily-menu {
  width: 100%;
  position: relative;
  padding: 5rem 0;
  // height: 60rem;
  background-color: $color-primary-light-2;
  &__wrapper {
    box-sizing: border-box;
    padding: 2rem 2rem 2rem 2rem;
    height: 100%;
    // background-color: antiquewhite;
  }

  &__banner {
    width: 20rem;
    position: absolute;
    @include respond(tab-port) {
      display: none;
    }
    & img {
      width: 100%;
      @include respond(tab-land) {
        width: 80%;
      }
    }
    &--left {
      &-topCorner {
        left: 4rem;
        top: 0;
      }
      &-bottomCorner {
        bottom: -2rem;
        transform: rotate(20deg);
      }
    }
    &--right {
      &-topCorner {
        right: 0;
        top: 0;
        transform: translateY(-8rem) rotate(-20deg);
      }
      &-bottomCorner {
        right: 2rem;
        bottom: -2rem;
      }
    }
  }
  &__title {
    @include respond(phoneMediumsize) {
      font-size: 5.4rem !important;
    }
  }
}
.policies {
  width: 100%;
  height: 50rem;
  @include respond(tab-port) {
    height: auto;
  }
}
