.login-site {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(#000, 0.8);
  z-index: 9999999999;
  transition: all 500ms;

  &__wrapper {
    position: absolute;
    right: 0;
    width: 48rem;
    height: 100vh;
    background-color: #fff;
    transition: all 0.8s;

    &--1 {
      transition: all 0.8s;
      transform: translateX(100%);
    }

    &--2 {
      transition: all 0.8s;
      transform: translateX(100%);
    }
  }

  &__form {
    margin: 0 auto;
    padding: 0rem 6rem 0rem 6rem;
    margin-top: 10rem;
    @include respond(phoneSmallSize) {
      padding: 0rem 3rem 0rem 8rem;
    }
  }
  &__button {
    background-color: transparent;
    border: none;
    font-size: 2.4rem;
    position: absolute;
    left: 2rem;
    top: 2rem;
    @include respond(phoneSmallSize) {
      right: 3rem;
      left: 37rem;
      top: 2rem;
    }
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: $color-primary-light-2;
    border-radius: 8px;
  }
  &__title {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 2.4rem;
    font-family: $font-family-secondary;
  }
  &__inputBox {
    flex-direction: column;
    gap: 1rem !important;
    position: relative;
    & label {
      font-size: 1.8rem;
    }
    & label,
    & input,
    & select {
      box-sizing: border-box;
      width: 100%;
      flex: 0 1 100%;
    }
    input.input-active {
      border: 1px solid #f19225;
      outline-color: #f19225;
    }
    select.input-active {
      border: 1px solid #f19225;
      outline-color: #f19225;
    }
    .text-error-message {
      display: none;
      font-size: 1.4rem;
      color: #f19225;
      margin-top: 5px;
      transition: all 0.3s;
    }
  }
  #addBtn.cart__buy {
    margin-top: 0rem;
  }
  &__switchSite {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
    a {
      color: $color-primary-light-1;
    }
  }
}

.passwordHidden {
  position: absolute;
  right: 2rem;
  top: 5.6rem;
  cursor: pointer;

  .straightLine {
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 1rem;
    border-bottom: 2px solid black;
    z-index: 2;
    transform: rotate(-45deg) translate(-10px, -10px);
  }
}

.login-siteOpen {
  display: block;
}

.activeSite {
  transform: translateX(0);
}
