<header class="header" id="headerScroll">
  <div class="wrapping-header container">
    <nav class="navbar-top">
      <a href="http://" class="navbar-top__logo-link"
        ><img src="../../img/logo.png" alt="" srcset="" class="navbar-top__logo"
      /></a>
      <div class="navbar-top__right">
        <ul class="navbar-top__list">
          <li class="navbar-top__item navbar-top__item--2">
            <a href="http://" class="navbar-top__link">
              Trang chủ
              <svg class="navbar-top__icon">
                <use xlink:href="#lnr-chevron-down"></use>
              </svg>
              <div class="navbar-top__before"></div>
            </a>
          </li>
          <li class="navbar-top__item navbar-top__item--1">
            <a href="http://" class="navbar-top__link">
              Thực đơn
              <svg class="navbar-top__icon">
                <use xlink:href="#lnr-chevron-down"></use>
              </svg>
              <div class="navbar-top__before"></div>
            </a>
            <div class="navbar-top__dropdown-menu-small dropdown-menu">
              <div
                class="dropdown-menu__catergories dropdown-menu__catergories--blog"
              >
                <ul class="dropdown-menu__list">
                  <li class="dropdown-menu__items">
                    <a class="dropdown-menu__link" href="http://">Hamburger</a>
                  </li>
                  <li class="dropdown-menu__items">
                    <a class="dropdown-menu__link" href="http://">Pizza</a>
                  </li>
                  <li class="dropdown-menu__items">
                    <a class="dropdown-menu__link" href="http://">Drink</a>
                  </li>
                  <li class="dropdown-menu__items">
                    <a class="dropdown-menu__link" href="http://">Pasta</a>
                  </li>
                  <li class="dropdown-menu__items">
                    <a class="dropdown-menu__link" href="http://">Snack</a>
                  </li>
                  <li class="dropdown-menu__items">
                    <a class="dropdown-menu__link" href="http://">Other</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="navbar-top__item navbar-top__item--3">
            <a href="http://" class="navbar-top__link">
              page
              <svg class="navbar-top__icon">
                <use xlink:href="#lnr-chevron-down"></use>
              </svg>
              <div class="navbar-top__before"></div>
            </a>
            <div class="navbar-top__dropdown-menu-small dropdown-menu">
              <div
                class="dropdown-menu__catergories dropdown-menu__catergories--pages"
              >
                <ul class="dropdown-menu__list">
                  <li class="dropdown-menu__items">
                    <a class="dropdown-menu__link" href="shopCart.html"
                      >Giỏ hàng</a
                    >
                  </li>
                  <li class="dropdown-menu__items">
                    <a class="dropdown-menu__link" href="shopWishlist.html"
                      >Danh sách yêu thích</a
                    >
                  </li>
                  <li class="dropdown-menu__items">
                    <a class="dropdown-menu__link" href="shopCheckout.html"
                      >Thanh toán</a
                    >
                  </li>
                  <li class="dropdown-menu__items">
                    <a class="dropdown-menu__link" href="shop"
                      >Món ăn</a
                    >
                  </li>
                  <li class="dropdown-menu__items">
                    <a class="dropdown-menu__link" href="shopStyle.html"
                      >Tìm kiếm sản phẩm</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>

        <div class="navbar-top__box">
          <a
            href="http://"
            class="navbar-top__link navbar-top__icons navbar-top__icons--order"
          >
            Đặt hàng
            <svg class="navbar-top__iconBox">
              <use xlink:href="#lnr-store"></use>
            </svg>
          </a>
          <div class="navbar-top__icons--accountBox">
            <button
              class="navbar-top__link navbar-top__icons navbar-top__icons--account  account-userLogin"
            >
              <div class="navbar-top">
                <img class="special-foods__icon-svg image-userLogin" src="../../img/uploads/userImages/<%= user[0].userImage %>" alt="" srcset="">
              </div>
            </button>
            <div class="navbar-top__dropdown-menu-small dropdown-menu">
              <div
                class="dropdown-menu__catergories dropdown-menu__catergories--account"
              >
                <ul class="dropdown-menu__list">
                  <li class="dropdown-menu__items">
                    <a
                      id="login"
                      class="dropdown-menu__link u-bold-text login-action"
                      href="logout"
                      >Log out</a
                    >
                  </li>
                  <li class="dropdown-menu__items">
                    <a
                      id="register"
                      class="dropdown-menu__link u-bold-text login-action"
                      href="<%= user[0].roleId === 0 ? '../../admin' : user[0].roleId === 3 ? '../../admin' : '#'%>"
                      ><%= user[0].roleId === 0 ? '../../admin' : user[0].roleId === 3 ? 'Trang admin' : 'Cài đặt'%></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div
            class="navbar-top__link navbar-top__icons navbar-top__icons--cart" id="cartSide-cta"
          >
            <svg class="navbar-top__iconBox">
              <use xlink:href="#lnr-cart"></use>
            </svg>

            <div class="customerOrderCart">
              <div class="cart__listItem">
                <div class="cart__item customerOrderCart__item">
                  <div class="cart__imageBox">
                    <img
                      class="cart__image"
                      src="../../img/foodItem/fooditem1.jpg"
                      alt=""
                      srcset=""
                    />
                  </div>
                  <div class="cart__title">
                    <h5
                      class="shop-menu__foodItemName customerOrderCart__title"
                    >
                      Hamburger
                    </h5>
                    <div
                      class="item-Details__information u-delete-margin-bottom"
                    >
                      <div
                        class="item-Details__informationBox u-delete-margin-left"
                      ></div>
                      <i
                        class="shop-menu__prices cart__price customerOrderCart__price"
                        >100,000</i
                      >
                    </div>
                  </div>
                  <div class="cart__closeTag customerOrderCart__closeTag">
                    <button>X</button>
                  </div>
                </div>

                <div class="cart__item customerOrderCart__item">
                  <div class="cart__imageBox">
                    <img
                      class="cart__image"
                      src="../../img/foodItem/fooditem1.jpg"
                      alt=""
                      srcset=""
                    />
                  </div>
                  <div class="cart__title">
                    <h5
                      class="shop-menu__foodItemName customerOrderCart__title"
                    >
                      Hamburger
                    </h5>
                    <div
                      class="item-Details__information u-delete-margin-bottom"
                    >
                      <div
                        class="item-Details__informationBox u-delete-margin-left"
                      ></div>
                      <i
                        class="shop-menu__prices cart__price customerOrderCart__price"
                        >100,000</i
                      >
                    </div>
                  </div>
                  <div class="cart__closeTag customerOrderCart__closeTag">
                    <button>X</button>
                  </div>
                </div>
              </div>

              <div class="shop-menu__titleBox customerOrderCart__titleBox">
                <h4
                  class="heading--4 shop-menu__title customerOrderCart__total clearFix"
                >
                  Tổng cộng<span
                    class="shop-menu__result customerOrderCart__result"
                    >150,000</span
                  >
                </h4>
              </div>

              <div class="customerOrderCart__orderButton">
                <a href="" class="btn-link card-order__btn">Giỏ hàng</a>
                <a href="" class="btn-link card-order__btn">Xem Menu</a>
              </div>
            </div>

            <div class="navbar-top__countItem" id="itemCount">0</div>
          </div>
        </div>

        <div class="toggle">
          <div class="toggle__shape toggle__shape--1"></div>
          <div class="toggle__shape toggle__shape--2"></div>
          <div class="toggle__shape toggle__shape--3"></div>
        </div>
      </div>

      <div class="navbar-mobile">
        <div class="navbar-mobile__wrapper">
          <figure class="navbar-mobile__imageBox">
            <img
              src="../../img/logo.png"
              alt="Image Logo"
              srcset=""
              class="navbar-mobile__image"
            />
          </figure>
          <ul class="navbar-mobile__list">
            <li>
              <a href="index.html" class="navbar-mobile__link"
                ><span>Trang chủ</span
                ><button>
                  <img
                    src="../../img/svg/chevron-thin-right.svg"
                    alt=""
                    srcset=""
                  /></button
              ></a>
            </li>
            <li>
              <a href="shopOrder.html" class="navbar-mobile__link"
                ><span>Menu</span
                ><button>
                  <img
                    src="../../img/svg/chevron-thin-right.svg"
                    alt=""
                    srcset=""
                  /></button
              ></a>
            </li>
            <li>
              <a href="shopWishlist.html" class="navbar-mobile__link"
                ><span>Yêu thích</span
                ><button>
                  <img
                    src="../../img/svg/chevron-thin-right.svg"
                    alt=""
                    srcset=""
                  /></button
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="navbar-mobile__link open-sideLog"
                id="btn-mobileLogin"
                ><span>Đăng nhập</span
                ><button>
                  <img
                    src="../../img/svg/chevron-thin-right.svg"
                    alt=""
                    srcset=""
                  /></button
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="navbar-mobile__link open-sideLog"
                id="btn-mobileCreate"
                ><span>Đăng ký</span
                ><button>
                  <img
                    src="../../img/svg/chevron-thin-right.svg"
                    alt=""
                    srcset=""
                  /></button
              ></a>
            </li>

            <li>
              <a href="shopCheckout.html" class="navbar-mobile__link"
                ><span>Thanh Toán</span
                ><button>
                  <img
                    src="../../img/svg/chevron-thin-right.svg"
                    alt=""
                    srcset=""
                  /></button
              ></a>
            </li>
          </ul>

          <ul class="navbar-mobile__iconList">
            <li>
              <a href="http://" class="navbar-mobile__link"
                ><img
                  src="../../img/svg/facebook-5218.svg"
                  alt="facebook"
                  srcset=""
                  class="navbar-mobile__icon"
              /></a>
            </li>
            <li>
              <a href="http://" class="navbar-mobile__link"
                ><img
                  src="../../img/svg/instagram-logo-5544.svg"
                  alt="facebook"
                  srcset=""
                  class="navbar-mobile__icon"
              /></a>
            </li>
            <li>
              <a href="http://" class="navbar-mobile__link"
                ><img
                  src="../../img/svg/twitter-2170.svg"
                  alt="facebook"
                  srcset=""
                  class="navbar-mobile__icon"
              /></a>
            </li>
            <li>
              <a href="http://" class="navbar-mobile__link"
                ><img
                  src="../../img/svg/tiktok-logo-4505.svg"
                  alt="facebook"
                  srcset=""
                  class="navbar-mobile__icon"
              /></a>
            </li>
          </ul>

          <p class="navbar-mobile__author">
            Copy right &copy; by Nguyễn Thanh Trí
          </p>
        </div>
      </div>
    </nav>
  </div>
</header>
