*{
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Coiny', cursive, sans-serif;
  font-weight: 300;
  overflow-x: hidden;

}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  @include respond(mac-book) {
    font-size: 62.5%;
  }
  @include respond(medium-desktop){
    font-size: 56.25%;
  } 
  @include respond(tab-land){
    font-size: 50%;
  }
  @include respond(tab-port){
    font-size: 43.75%;
  }
}

.main {
  width: 100%;
  padding-top: 10rem;
}
.btn-link {
  &:link, &:visited {
    display: inline-block;
    color: $color-text-dark;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 0.6rem 2rem;
    border-radius: 0.8rem;
    background-color: $color-secondary;
    transition: all .3s;
  }
}

