<div class="form-crud" id="addForm">
  <form class="row g-3 form-crud__form" enctype="multipart/form-data" action="../handle-item/create-new-item" method="POST">
    <div class="col-md-6">
      <label for="productname" class="form-label label-title">Tên sản phẩm</label>
      <input type="text" class="form-control input-title" id="productname" name="productName" placeholder="Tên sản phẩm">
    </div>
    <div class="col-md-6">
      <label for="productprice" class="form-label label-title">Giá sản phẩm</label>
      <input type="text" placeholder="Giá sản phẩm" class="form-control input-title" id="productprice" name="productPrice" onkeypress="return isNumberKey(event)">
    </div>
    <div class="col-12">
      <label for="productdesc" class="form-label label-title">Nhập mô tả</label>
      <textarea class="form-control input-title desc-field" id="productdesc" placeholder="Nhập mô tả về món ăn" name="productDesc"></textarea>
    </div>
    <div class="col-6 mb-3">
      <label for="productimage" class="form-label label-title">Upload hình ảnh</label>
      <input type="file" accept="" class="form-control input-title mb-2" id="productimage" name="productImage" placeholder="upload hình">
    </div>
    <div class="col-md-6">
      <label for="selectcatergories" class="form-label label-title">Chọn loại món ăn</label>
      <select id="selectcatergories" class="form-select input-title" name="productCatergory">
        <option value="0">Chọn dạnh mục</option>
        <option value="1">Pizza</option>
        <option value="2">Burger</option>
        <option value="3">Chicken</option>
      </select>
    </div>
    <div class="col-12 mb-3">
      <div class="image-holder">
        <div class="image-holder__img">
          <img src="" alt="Image" id="output" class="image-holder__image">
        </div>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-Submit">Thêm</button>
    </div>
  </form>
  <div id="remove"><i class="fas fa-times"></i></div>
</div>