.shopStyle-banner {
  position: relative;
}

.input-search {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-45%, 50%);
  width: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &__inputTag {
    flex: 0 1 50%;
    outline: none;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 1.5rem 3rem rgba($color: #000000, $alpha: 0.05);
    &[type="text"] {
      font-size: 1.8rem;
      padding: 2.8rem 2.5rem;
      color: $color-text-dark-2;
    }
    @include respond(phoneMediumsize) {
      flex: 0 1 40%;
    }

    @include respond(phone) {
      flex: 0 1 30%;
    }
  }
  &__btnBox {
    transition: all 0.3s;
    transform: translateX(-120%);
    cursor: pointer;
    &:hover {
      transform: translate(-120%, -0.5rem);
    }
  }
  &__btn {
    font-size: 1.6rem;
    padding: 1.5rem 2.5rem;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    color: #eee;
    background-color: $color-primary-light-1;
    cursor: pointer;
  }
}
