.wrapping-header {
  @include respond(mac-book) {
    max-width: 110rem;
  }
}

.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 3.5rem 0rem;
  }

  &__logo {
    transform: scale(1.5);
    display: inline-block;
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__link:link,
  &__link:visited {
    color: $color-text-light;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    transition: transform 0.3s, width 0.4s cubic-bezier(1, -0.05, 0, 1.07) 0.4s,
      background-color 0.1s;
  }

  &__before {
    width: 100%;
    height: 1px;
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -5px;
    left: 0;
    // transition: transform 0.3s, width 0.4s cubic-bezier(1, -0.05, 0, 1.07) 0.2s,
    // background-color 0.1s;

    &::before {
      width: 0px;
      height: 1px;
      content: "";
      background-color: #fff;
      transition: all 0.3s cubic-bezier(1, -0.05, 0, 1.07);
    }
  }

  &__link:hover &__before::before {
    width: 100%;
  }

  &__link:hover &__icon {
    transform: rotate(-180deg);
  }

  &__icon {
    width: 1.2rem;
    height: 1.5rem;
    fill: #fff;
    transition: transform 0.3s;
  }

  // -------------------- Style icons -------------------- //
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__iconBox {
    width: 2rem;
    height: 2rem;
    fill: #fff;
    &--title {
      font-size: 1.4rem;
      letter-spacing: 0.3rem;
    }
  }

  &__icons {
    &:not(:last-child) {
      margin-left: 1rem;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 2rem;
    }

    &--order {
      display: inline-block;
      padding: 1rem 2rem;
      border-radius: 8px;
      border: 1px solid #fff;
      transition: all 0.2s;
      align-items: center;

      &:hover {
        text-decoration: underline;
      }
    }

    &--search:link,
    &--search:visited,
    &--account:link,
    &--account:visited {
      display: flex;
      padding: 1rem;
      border-radius: 8px;
      border: 1px solid #fff;
      transition: all 0.2s;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #fff;

        & .navbar-top__iconBox {
          filter: $icon-color-primary;
          
        }
      }
    }

    &--cart:link,
    &--cart:visited {
      flex-direction: column;
      justify-content: center;
      gap: 0.2rem;
    }

    &--cart {
      position: relative;
      display: flex;
      align-items: center;
      margin-left: 1rem;
      cursor: pointer;
      & svg {
        width: 2.5rem;
        height: 2.5rem;
        fill: #000;
        background-color: #fff;
        border-radius: 8px;
        padding: 1rem;
      }
      &::after {
        position: absolute;
        content: "0";
        display: flex;
        border-radius: 0.2rem;
        width: 2rem;
        height: 2rem;
        align-items: center;
        justify-content: center;
        padding: .4rem;
        border-radius: 50%;
        right: -1rem;
        top: -1rem;
        font-size: 1.6rem;
        color: $color-text-light;
        background-color: $color-text-dark-2;
      }
    }
  }
}

// Dropdown Menu Large //
.navbar-top {
  &__item {
    box-sizing: border-box;
    position: relative;
  }

  &__item--1 &__dropdown-menu--large {
    position: fixed;
    display: flex;
    width: 100vw;
    height: auto;
    padding: 2rem 0;
    top: 9.4rem;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    border-bottom: 1px solid $color-text-dark-2;
    background-color: #7da640; // SỬA NÈ
    transform-origin: top;
    transform: scaleY(0);
    transition: all 0.4s;
    z-index: 1000;
    // Làm chậm hiệu ứng animation để có thể select menu
    // Làm dropdown menu phụ thuộc rất lớn vào đối tượng cha và con
  }

  &__item--1:hover &__dropdown-menu--large {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
  }

  &__icons--accountBox {
    position: relative;
    margin-left: 3rem;
  }

  &__item--1 &__dropdown-menu-small,
  &__item--2 &__dropdown-menu-small,
  &__item--3 &__dropdown-menu-small,
  &__icons--accountBox &__dropdown-menu-small {
    position: fixed;
    font-family: $font-family-secondary;
    font-weight: 500;
    display: flex;
    width: auto;
    top: 9.2rem;
    visibility: hidden;
    opacity: 0;
    background-color: #e76262; // SỬA NÈ
    transform-origin: top;
    transform: scaleY(0);
    transition: all 0.4s;
    z-index: 1000;
  }

  &__icons--accountBox &__dropdown-menu-small {
    right: auto;
  }

  &__icons--accountBox:hover &__dropdown-menu-small {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
  }

  &__item--1:hover &__dropdown-menu-small,
  &__item--2:hover &__dropdown-menu-small,
  &__item--3:hover &__dropdown-menu-small,
  &__icons--account:hover &__dropdown-menu-small {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
  }
}

// ----------- Style List Of Menu  Large ----------- //
.dropdown-menu {
  display: flex;
  justify-content: space-between;

  &__title {
    color: $color-text-light; // SỬA NÈ
    letter-spacing: 0.3rem;
    font-size: 2.4rem !important;
    font-weight: 300;
  }

  &__catergories {
    width: 100%;

    &--blog,
    &--pages,
    &--account {
      padding: 2rem;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    gap: 0.5rem;
  }

  &__link:link,
  &__link:visited {
    width: 100%;
    color: $color-text-light; // SỬA NÈ
    display: inline-block;
    letter-spacing: 0.2rem;
    padding-bottom: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.6rem;
    transition: all 0.4s !important;
    border-bottom: 1px solid transparent;
  }

  &__link:hover,
  &__link:active {
    border-bottom: 1px solid #fff;
  }

  &__items {
  }
}


////////// giỏ hàng //////////
.customerOrderCart {
  position: absolute;
  background-color: #fff;
  width: 25rem;
  border-radius: 8px;
  box-shadow: 0 2rem 3rem rgba($color: #000000, $alpha: 0.09);
  padding: 2rem;
  right: 0;
  top: 120%;
  transform-origin: top;
  transform: scaleY(0);
  transition: all .4s;
  &__item {
    padding-bottom: 1rem;
    border-bottom: 1px dashed $color-text-light-1;
  }

  &__title {
    // Sử dụng important để thay thế shopMenu 
    padding-top: 1.2rem;
    font-size: 1.8rem;
    font-family: $font-family-secondary;
    margin-bottom: .8rem;
  }

  &__price {
    font-family: $font-family-secondary;
    font-size: 1.8rem !important;
  }

  &__closeTag {
    background-color: $color-primary-light-1;
    align-self: start;
    border-radius: 4px;
    & button {
      padding: .8rem 1rem;
      color: #fff !important;
    }
    cursor: pointer;
  }

  &__titleBox {
    margin-top: -1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed $color-text-light-1;
  }

  &__total {
    font-family: $font-family-secondary;
    font-size: 1.8rem !important;
    color: $color-tertiary-dark-1 !important;
  }


  &__orderButton {
    display: flex;
    gap: 1rem;
    justify-content: center;
    & a:link,  & a:visited{
    background-color: $color-tertiary-dark-1;
    }
  }
}

.navbar-top__icons--cart:hover .customerOrderCart{
  transform: scale(1);
}