.whistlist {
  &__wrapper {
    font-family: $font-family-secondary;
  }
  &__form {
  }
  &__list {
    width: 100%;
    border-collapse: collapse;
  }
  &__heading {
    background-color: $color-text-dark;
    border-radius: 10px;
  }

  &__body {
    & tr {
      border: 1px solid $color-text-light-1;
    }

    & td{
      padding: 1.5rem;
      font-size: 1.8rem;
      &:last-child {
        text-align: right;
      }
    }
  }

  &__title {
    padding: 1.5rem;
    font-size: 1.8rem;
    text-align: left;
    color: $color-text-light;
    font-family: $font-family-secondary;
    &:last-child {
      text-align: right;
    }
  }

  &__imageBox{
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 50%;
  }
  &__image {
    width: 100%;
  }
  &__foodName {
  }
  &__price {
    font-weight: 500;
  }
  &__cta {
    border:none;
    padding: 1.5rem 1.5rem 1.3rem 1.5rem;
    background-color: $color-tertiary-dark-1;
    border-radius: 8px;
    cursor: pointer;

    & img {
      width: 1.5rem;
      height: 1.5rem;
      filter: $icon-color-white;
    }
  }
}
