@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$color-primary: #EE2737;
$color-secondary: #FFC222; 
$color-secondary-1: #FE9F10; 

$color-tertiary: #B0D9B1;
$color-tertiary-dark-1: #7DA640;

$color-primary-dark-1: #FF0000;
$color-primary-dark-2: #EE2737;

$color-primary-light-1: #F33F4D;
$color-primary-light-2: #fa4252;
$color-primary-light-3: #FF5B69;

$color-text-light: #fff;
$color-text-light-1: #dad9d9;
$color-text-light-2: #f5f5f5;
$color-text-light-3: #eeeeee;
$color-text-dark: #333;
$color-text-dark-2: #474747;

$font-family: 'Coiny', cursive, sans-serif;
$font-family-secondary: 'Roboto',sans-serif;
$shadow-boxReview: rgba(0,0,0, 0.2);
$icon-color-primary: invert(50%) sepia(21%) saturate(4541%) hue-rotate(321deg) brightness(103%) contrast(104%);
$icon-color-secondary: invert(81%) sepia(65%) saturate(820%) hue-rotate(337deg) brightness(103%) contrast(101%);
$icon-color-tertiary: invert(59%) sepia(20%) saturate(1138%) hue-rotate(42deg) brightness(98%) contrast(86%);
$icon-color-white: invert(100%) sepia(61%) saturate(0%) hue-rotate(27deg) brightness(109%) contrast(100%);
// Font Family

