$color-primary: #a7897b;

$color-primary-dark-1: #a7897b61;
$color-primary-dark-2: #5B514D;

$color-text-light: #fff;
$color-background: #000;


// Font Family
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

