*{
  padding: 0;
  margin: 0;
}
::selection {
  color: #fff;
  background-color: $color-primary-light-1;
}
body {
  box-sizing: border-box;
  font-family: 'Coiny', cursive, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  position: relative;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  @include respond(mac-book) {
    font-size: 62.5%;
  }
  @include respond(medium-desktop){
    font-size: 56.25%;
  } 
  @include respond(tab-land){
    font-size: 56.25%;
  }
  overflow-x: hidden;
  @include respond(phoneSmallSize){
    font-size: 50%;
  }
}

.main {
  width: 100%;
}

.main-shopDetail {
  margin-top: 10rem;
  padding-bottom: 10rem;
}

.shopWishlist-main {
  padding-bottom: 10rem;
}


.btn-link {
  &:link, &:visited {
    display: inline-block;
    color: $color-text-dark;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 0.6rem 2rem;
    border-radius: 0.8rem;
    background-color: $color-secondary;
    transition: all .3s;
  }
}

.icon-svg {
  width: 2rem;
  height: 2rem;
}