<footer class="footer">
  <div class="container footer__wrapper">
    <div class="footer__box">
      <ul class="footer__list">
        <li class="footer__heading">Chính sách</li>
        <li class="footer__item">
          <a href="" class="footer__link">Chất lượng</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Thương hiệu TriPu</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Về chúng tôi</a>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__heading">Thực đơn</li>
        <li class="footer__item">
          <a href="" class="footer__link">Pizza</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Hamburger</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Pasta</a>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__heading">Liên Hệ</li>
        <li class="footer__item">
          <a href="" class="footer__link">Email: thanhtri230799@gmail.com</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Phone: 0332725527</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Instagram: thanhtri230799</a>
        </li>
      </ul>
      <div class="footer__contact">
        <h4 class="footer__heading">Liên hệ với chúng tôi qua email</h4>
        <div class="footer__input">
          <form action="" method="post">
            <input type="text" value="" placeholder="Email của bạn" /><button
              type="submit"
            >
              Gửi
            </button>
          </form>
        </div>

        <div class="footer__social">
          <a href="http://" class="footer__socialLink"
            ><img
              class="footer__socialIcon"
              src="img/svg/facebook-5218.svg"
              alt=""
              srcset=""
          /></a>
          <a href="http://" class="footer__socialLink"
            ><img
              class="footer__socialIcon"
              src="img/svg/twitter-2170.svg"
              alt=""
              srcset=""
          /></a>
          <a href="http://" class="footer__socialLink"
            ><img
              class="footer__socialIcon footer__socialIcon--3"
              src="img/svg/instagram-logo-5544.svg"
              alt=""
              srcset=""
          /></a>
          <a href="http://" class="footer__socialLink"
            ><img
              class="footer__socialIcon"
              src="img/svg/tiktok-logo-4505.svg"
              alt=""
              srcset=""
          /></a>
        </div>
      </div>
    </div>
    <div class="footer__socialBox">
      <i class="footer__copyright">Copy right &copy; by Nguyễn Thanh Trí </i>
    </div>
  </div>
</footer>
