<section class="banner-homepage">
  <div class="container banner-wrapper">
    <div class="content-banner">
      <h1 class="content-banner__title">Pizza</h1>
      <p class="content-banner__text">
        Chỉ duy nhất trong <br />
        tuần này
      </p>
      <a href="#" class="content-banner__btn">
        <span class="content-banner__btn content-banner__btn--cta1"
          >Đặt hàng ngay</span
        >
        <span class="content-banner__btn content-banner__btn--cta2"
          >Nhanh tay lên</span
        >
      </a>
      <i class="content-banner__phoneNumber">033-2725-527</i>
      <i class="content-banner__webaddress">www.PizzaTriBu.com</i>
    </div>

    <div class="img-banner">
      <img
        class="img-banner__sources"
        src="img/PizzaBanner.png"
        alt="Pizza Banner"
        srcset=""
      />
    </div>
  </div>
</section>

<section class="banner-food grid-container">
  <div class="main-content banner-food__wrapper">
    <div class="banner-food__box banner-food__box--1">
      <figure class="banner-food__figure">
        <img
          src="img/BurgerOrder1.jpg"
          alt="order burger"
          class="banner-food__images banner-food__images--1"
        />
        <div class="banner-food__content banner-food__content--1">
          <em class="banner-food__catergories">Burger</em>
          <h3 class="banner-food__title banner-food__title--1">
            Burger Việt Nam
          </h3>
          <i class="banner-food__description"
            >Nguyên liệu từ người Việt</i
          >
          <a class="btn-link banner-food__btn" href="#">Order now</a>
        </div>
      </figure>
    </div>
    <div class="banner-food__box banner-food__box--2">
      <figure class="banner-food__figure">
        <img
          src="img/BurgerOrder2.jpg"
          alt="order burger"
          class="banner-food__images banner-food__images--2"
        />
        <div class="banner-food__content banner-food__content--2">
          <em class="banner-food__catergories banner-food__catergories--1"
            >Burger</em
          >
          <h3 class="banner-food__title banner-food__title--2">
            Cá phi lê
          </h3>
          <i class="banner-food__description"
            >Nguyên liệu từ người Việt</i
          >
          <a class="btn-link banner-food__btn" href="#">Order now</a>
        </div>
      </figure>
    </div>
    <div class="banner-food__box banner-food__box--3">
      <figure class="banner-food__figure">
        <img
          src="img/BurgerOrder3.jpg"
          alt="order burger"
          class="banner-food__images banner-food__images--3"
        />
        <div class="banner-food__content banner-food__content--2">
          <em class="banner-food__catergories banner-food__catergories--2"
            >Burger</em
          >
          <h3 class="banner-food__title banner-food__title--2">Combo</h3>
          <i class="banner-food__description"
            >Nguyên liệu từ người Việt</i
          >
          <a class="btn-link banner-food__btn" href="#">Order now</a>
        </div>
      </figure>
    </div>
    <div class="banner-food__box banner-food__box--4">
      <figure class="banner-food__figure">
        <img
          src="img/BurgerOrder4.jpg"
          alt="order burger"
          class="banner-food__images"
        />
        <div class="banner-food__content banner-food__content--3">
          <em class="banner-food__catergories banner-food__catergories--3"
            >Burger</em
          >
          <h3 class="banner-food__title--3">Gà rán</h3>
          <i class="banner-food__description"
            >Nguyên liệu từ người Việt</i
          >
          <a
            class="btn-link banner-food__btn banner-food__btn--4"
            href="#"
            >Order now</a
          >
        </div>
      </figure>
    </div>
  </div>
</section>

<section class="special-foods">
  <div class="special-foods__banner special-foods__banner--left">
    <img
      class="special-foods__banner-img special-foods__banner-img--left"
      src="img/Burgerbg.png"
      alt=""
      srcset=""
    />
  </div>
  <div class="container">
    <div class="special-foods__title">
      <span class="special-foods__icons">
        <img
          class="special-foods__icon-svg special-foods__icon-svg-left special-foods__icon-svg-left--1"
          src="img/svg/star-stroke-svgrepo-com.svg"
          alt=""
          srcset=""
        />
        <img
          class="special-foods__icon-svg special-foods__icon-svg-left special-foods__icon-svg-left--2"
          src="img/svg/star-stroke-svgrepo-com.svg"
          alt=""
          srcset=""
        />
        <img
          class="special-foods__icon-svg special-foods__icon-svg-left special-foods__icon-svg-left--3"
          src="img/svg/star-stroke-svgrepo-com.svg"
          alt=""
          srcset=""
        />
        <img
          class="special-foods__icon-svg special-foods__icon-svg-left special-foods__icon-svg-left--4"
          src="img/svg/star-stroke-svgrepo-com.svg"
          alt=""
          srcset=""
        />
        <img
          class="special-foods__icon-svg special-foods__icon-svg-left special-foods__icon-svg-left--5"
          src="img/svg/star-stroke-svgrepo-com.svg"
          alt=""
          srcset=""
        />
      </span>
      <h2 class="special-foods__heading">Món Ngon Đặc Biệt</h2>
      <span class="special-foods__icons">
        <img
          class="special-foods__icon-svg special-foods__icon-svg-right special-foods__icon-svg-right--1"
          src="img/svg/star-stroke-svgrepo-com.svg"
          alt=""
          srcset=""
        />
        <img
          class="special-foods__icon-svg special-foods__icon-svg-right special-foods__icon-svg-right--2"
          src="img/svg/star-stroke-svgrepo-com.svg"
          alt=""
          srcset=""
        />
        <img
          class="special-foods__icon-svg special-foods__icon-svg-right special-foods__icon-svg-right--3"
          src="img/svg/star-stroke-svgrepo-com.svg"
          alt=""
          srcset=""
        />
        <img
          class="special-foods__icon-svg special-foods__icon-svg-right special-foods__icon-svg-right--4"
          src="img/svg/star-stroke-svgrepo-com.svg"
          alt=""
          srcset=""
        />
        <img
          class="special-foods__icon-svg special-foods__icon-svg-right special-foods__icon-svg-right--5"
          src="img/svg/star-stroke-svgrepo-com.svg"
          alt=""
          srcset=""
        />
      </span>
    </div>

    <div class="container card-orders">
      <div class="card-order">
        <img
          src="img/foodItem/fooditem1.jpg"
          alt=""
          class="card-order__image"
        />
        <h3 class="card-order__title">Pizza</h3>
        <p class="card-order__description">
          Lorem ipsum dolor sit amet <br />
          consectetur
        </p>
        <i class="card-order__price"
          >150.000 <span class="card-order__money-unit">vnđ</span></i
        >
        <a href="" class="btn-link card-order__btn">Order now</a>
      </div>
      <div class="card-order active_card">
        <img
          src="img/foodItem/fooditem1.jpg"
          alt=""
          class="card-order__image"
        />
        <h3 class="card-order__title">Pizza</h3>
        <p class="card-order__description">
          Lorem ipsum dolor sit amet <br />
          consectetur
        </p>
        <i class="card-order__price"
          >150.000 <span class="card-order__money-unit">vnđ</span></i
        >
        <a href="" class="btn-link card-order__btn">Order now</a>
      </div>
      <div class="card-order">
        <img
          src="img/foodItem/fooditem1.jpg"
          alt=""
          class="card-order__image"
        />
        <h3 class="card-order__title">Pizza</h3>
        <p class="card-order__description">
          Lorem ipsum dolor sit amet <br />
          consectetur
        </p>
        <i class="card-order__price"
          >150.000 <span class="card-order__money-unit">vnđ</span></i
        >
        <a href="" class="btn-link card-order__btn">Order now</a>
      </div>
      <div class="card-order card-order--4">
        <img
          src="img/foodItem/fooditem1.jpg"
          alt=""
          class="card-order__image"
        />
        <h3 class="card-order__title">Pizza</h3>
        <p class="card-order__description">
          Lorem ipsum dolor sit amet <br />
          consectetur
        </p>
        <i class="card-order__price"
          >150.000 <span class="card-order__money-unit">vnđ</span></i
        >
        <a href="" class="btn-link card-order__btn">Order now</a>
      </div>
      <div class="card-order card-order--5">
        <img
          src="img/foodItem/fooditem1.jpg"
          alt=""
          class="card-order__image"
        />
        <h3 class="card-order__title">Pizza</h3>
        <p class="card-order__description">
          Lorem ipsum dolor sit amet <br />
          consectetur
        </p>
        <i class="card-order__price"
          >150.000 <span class="card-order__money-unit">vnđ</span></i
        >
        <a href="" class="btn-link card-order__btn">Order now</a>
      </div>
      <div class="card-order card-order--6">
        <img
          src="img/foodItem/fooditem1.jpg"
          alt=""
          class="card-order__image"
        />
        <h3 class="card-order__title">Pizza</h3>
        <p class="card-order__description">
          Lorem ipsum dolor sit amet <br />
          consectetur
        </p>
        <i class="card-order__price"
          >150.000 <span class="card-order__money-unit">vnđ</span></i
        >
        <a href="" class="btn-link card-order__btn">Order now</a>
      </div>
    </div>
  </div>
  <div class="special-foods__banner special-foods__banner--right">
    <img
      class="special-foods__banner-img special-foods__banner-img--right"
      src="img/Burgerbg.png"
      alt=""
      srcset=""
    />
  </div>
</section>

<section class="daily-menu">
  <div
    class="daily-menu__banner daily-menu__banner--left daily-menu__banner--left-topCorner"
  >
    <img src="img/Pizza.png" alt="" srcset="" />
  </div>
  <div
    class="daily-menu__banner daily-menu__banner--left daily-menu__banner--left-bottomCorner"
  >
    <img src="img/CafeMilk.png" alt="" srcset="" />
  </div>
  <div class="container daily-menu__wrapper">
    <button
      id="daily-menu__button--left-icon"
      class="daily-menu__button daily-menu__button--left"
    >
      <img src="img/svg/arrow-left2.svg" alt="" srcset="" />
    </button>
    <h2
      class="special-foods__heading daily-menu__title u-align-text-center u-margin-bottom-large"
    >
      Today's Menu
    </h2>
    <div class="container daily-menu__sildes">
      <div
        class="daily-menu__details daily-menu__mobiles active_menuDetails"
      >
        <div class="daily-menu__media">
          <img
            src="img/todaymenu/food1.jpg"
            alt=""
            srcset=""
            class="daily-menu__images"
          />
        </div>
        <div class="daily-menu__descriptions u-align-text-center">
          <h3 class="daily-menu__small-title">Pizza Hút</h3>
          <p class="daily-menu__describe">
            Bột bánh làm từ nguyên liệu Việt Nam qả
          </p>
        </div>
        <div class="daily-menu__box-prices">
          <div class="daily-menu__prices">
            <h4 class="daily-menu__food-name">Pizza</h4>
            <i class="daily-menu__price">35.000 Vnđ</i>
          </div>
          <a href="#" class="daily-menu__cart">
            <img
              src="img/svg/shopping_cart.svg"
              alt=""
              srcset=""
              class="daily-menu__cart--image"
            />
          </a>
        </div>
      </div>

      <div class="daily-menu__details daily-menu__mobiles">
        <div class="daily-menu__media">
          <img
            src="img/todaymenu/food1.jpg"
            alt=""
            srcset=""
            class="daily-menu__images"
          />
        </div>
        <div class="daily-menu__descriptions u-align-text-center">
          <h3 class="daily-menu__small-title">Pizza Hút</h3>
          <p class="daily-menu__describe">
            Bột bánh làm từ nguyên liệu Việt Nam qả
          </p>
        </div>
        <div class="daily-menu__box-prices">
          <div class="daily-menu__prices">
            <h4 class="daily-menu__food-name">Pizza</h4>
            <i class="daily-menu__price">35.000 Vnđ</i>
          </div>
          <a href="#" class="daily-menu__cart">
            <img
              src="img/svg/shopping_cart.svg"
              alt=""
              srcset=""
              class="daily-menu__cart--image"
            />
          </a>
        </div>
      </div>

      <div class="daily-menu__details daily-menu__mobiles">
        <div class="daily-menu__media">
          <img
            src="img/todaymenu/food1.jpg"
            alt=""
            srcset=""
            class="daily-menu__images"
          />
        </div>
        <div class="daily-menu__descriptions u-align-text-center">
          <h3 class="daily-menu__small-title">Pizza Hút</h3>
          <p class="daily-menu__describe">
            Bột bánh làm từ nguyên liệu Việt Nam qả
          </p>
        </div>
        <div class="daily-menu__box-prices">
          <div class="daily-menu__prices">
            <h4 class="daily-menu__food-name">Pizza</h4>
            <i class="daily-menu__price">35.000 Vnđ</i>
          </div>
          <a href="#" class="daily-menu__cart">
            <img
              src="img/svg/shopping_cart.svg"
              alt=""
              srcset=""
              class="daily-menu__cart--image"
            />
          </a>
        </div>
      </div>

      <div class="daily-menu__details daily-menu__mobiles">
        <div class="daily-menu__media">
          <img
            src="img/todaymenu/food1.jpg"
            alt=""
            srcset=""
            class="daily-menu__images"
          />
        </div>
        <div class="daily-menu__descriptions u-align-text-center">
          <h3 class="daily-menu__small-title">Pizza Hút</h3>
          <p class="daily-menu__describe">
            Bột bánh làm từ nguyên liệu Việt Nam qả
          </p>
        </div>
        <div class="daily-menu__box-prices">
          <div class="daily-menu__prices">
            <h4 class="daily-menu__food-name">Pizza</h4>
            <i class="daily-menu__price">35.000 Vnđ</i>
          </div>
          <a href="#" class="daily-menu__cart">
            <img
              src="img/svg/shopping_cart.svg"
              alt=""
              srcset=""
              class="daily-menu__cart--image"
            />
          </a>
        </div>
      </div>

      <div class="daily-menu__details daily-menu__mobiles">
        <div class="daily-menu__media">
          <img
            src="img/todaymenu/food1.jpg"
            alt=""
            srcset=""
            class="daily-menu__images"
          />
        </div>
        <div class="daily-menu__descriptions u-align-text-center">
          <h3 class="daily-menu__small-title">Pizza Hút</h3>
          <p class="daily-menu__describe">
            Bột bánh làm từ nguyên liệu Việt Nam qả
          </p>
        </div>
        <div class="daily-menu__box-prices">
          <div class="daily-menu__prices">
            <h4 class="daily-menu__food-name">Pizza</h4>
            <i class="daily-menu__price">35.000 Vnđ</i>
          </div>
          <a href="#" class="daily-menu__cart">
            <img
              src="img/svg/shopping_cart.svg"
              alt=""
              srcset=""
              class="daily-menu__cart--image"
            />
          </a>
        </div>
      </div>

      <div class="daily-menu__details daily-menu__mobiles">
        <div class="daily-menu__media">
          <img
            src="img/todaymenu/food1.jpg"
            alt=""
            srcset=""
            class="daily-menu__images"
          />
        </div>
        <div class="daily-menu__descriptions u-align-text-center">
          <h3 class="daily-menu__small-title">Pizza Hút</h3>
          <p class="daily-menu__describe">
            Bột bánh làm từ nguyên liệu Việt Nam qả
          </p>
        </div>
        <div class="daily-menu__box-prices">
          <div class="daily-menu__prices">
            <h4 class="daily-menu__food-name">Pizza</h4>
            <i class="daily-menu__price">35.000 Vnđ</i>
          </div>
          <a href="#" class="daily-menu__cart">
            <img
              src="img/svg/shopping_cart.svg"
              alt=""
              srcset=""
              class="daily-menu__cart--image"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="daily-menu__dots">
      <span class="daily-menu__dots-icon"></span>
      <span class="daily-menu__dots-icon icon-active"></span>
      <span class="daily-menu__dots-icon"></span>
      <span class="daily-menu__dots-icon"></span>
      <span class="daily-menu__dots-icon"></span>
    </div>
    <a href="http://" class="daily-menu__cta btn-flying"
      ><span class="btn-flying__name">Ours Menus</span></a
    >
    <button
      id="daily-menu__button--right-icon"
      class="daily-menu__button daily-menu__button--right"
    >
      <img src="img/svg/arrow-right2.svg" alt="" srcset="" />
    </button>
  </div>
  <div
    class="daily-menu__banner daily-menu__banner--right daily-menu__banner--right-topCorner"
  >
    <img src="img/CafeMilk2horizontal.png" alt="" srcset="" />
  </div>
  <div
    class="daily-menu__banner daily-menu__banner--right daily-menu__banner--right-bottomCorner"
  >
    <img src="img/PizzaHorizontal.png" alt="" srcset="" />
  </div>
</section>

<section class="policies">
  <div class="container policies__wrapper">
    <div class="policies__box-title">
      <div class="policies__line-divider"></div>
      <h3 class="policies__title heading--2 u-color-primary">
        Năm Trong Một
      </h3>
      <div class="policies__line-divider"></div>
    </div>

    <div class="policies__content">
      <div class="policies__description">
        <img
          src="img/svg/clock-rotate-right-icon.svg"
          class="policies__icon"
          alt=""
          srcset=""
        />
        <h4 class="policies__describe heading--4 u-align-text-center">
          Giao hàng <br />
          24 giờ
        </h4>
      </div>
      <div class="policies__description">
        <img
          src="img/svg/fast-food-delivery-bike-12992.svg"
          class="policies__icon policies__icon--2"
          alt=""
          srcset=""
        />
        <h4 class="policies__describe heading--4 u-align-text-center">
          Miễn Phí <br />
          giao hàng
        </h4>
      </div>
      <div class="policies__description">
        <img
          src="img/svg/wedding-dinner-8459.svg"
          class="policies__icon policies__icon--2"
          alt=""
          srcset=""
        />
        <h4 class="policies__describe heading--4 u-align-text-center">
          Đồ ăn <br />
          luôn nóng
        </h4>
      </div>
      <div class="policies__description">
        <img
          src="img/svg/fresh-food-and-leaf-sticker-label-black-outline-19486.svg"
          class="policies__icon policies__icon--2"
          alt=""
          srcset=""
        />
        <h4 class="policies__describe heading--4 u-align-text-center">
          Nguyên liệu <br />
          tươi mới
        </h4>
      </div>
      <div class="policies__description">
        <img
          src="img/svg/restaurant-chef-black-outline-21083.svg"
          class="policies__icon policies__icon--2"
          alt=""
          srcset=""
        />
        <h4 class="policies__describe heading--4 u-align-text-center">
          Đầu bếp <br />
          5 sao
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="customer-review">
  <div class="container customer-review__wrapper">
    <div class="customer-review__boxTitle">
      <div
        class="customer-review__bannerImg customer-review__bannerImg--left"
      >
        <img
          class="customer-review__bnImage"
          src="img/Pizza.png"
          alt=""
        />
      </div>
      <h3 class="customer-review__title heading--2">Bình luận gần đây</h3>
      <div
        class="customer-review__bannerImg customer-review__bannerImg--right"
      >
        <img
          class="customer-review__bnImage"
          src="img/PizzaHorizontal.png"
          alt=""
        />
      </div>
    </div>

    <div class="customer-review__container">
      <% for(let i = 0; i < 4; i ++) { %>
      <div class="customer-review__description">
        <div class="customer-review__iconBox">
          <img
            class="customer-review__icon"
            src="img/svg/star-stroke-svgrepo-com.svg"
            alt=""
            srcset=""
          />
          <img
            class="customer-review__icon"
            src="img/svg/star-stroke-svgrepo-com.svg"
            alt=""
            srcset=""
          />
          <img
            class="customer-review__icon"
            src="img/svg/star-stroke-svgrepo-com.svg"
            alt=""
            srcset=""
          />
          <img
            class="customer-review__icon"
            src="img/svg/star-stroke-svgrepo-com.svg"
            alt=""
            srcset=""
          />
          <img
            class="customer-review__icon"
            src="img/svg/star-stroke-svgrepo-com.svg"
            alt=""
            srcset=""
          />
        </div>
        <blockquote class="customer-review__comment">
          <q
            >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Dolor quaerat autem delectus quam alias consequuntur, unde
            dolorum aliquam deserunt accusantium numquam molestiae
            quisquam. Esse, pariatur.</q
          >
        </blockquote>
        <figure class="customer-review__customer">
          <img class="customer-review__image" src="" alt="" />
          <figcaption class="customer-review__name">
            <p>Nguyễn Thanh Trí</p>
          </figcaption>
        </figure>
      </div>
      <% } %>
    </div>
  </div>
</section>

<section class="blog-food">
  <div class="container blog-food__wrapper">
    <h2 class="heading--2 blog-food__title u-align-text-center">
      New Blog
    </h2>
    <div class="blog-food__list">
      <div class="blog-food__box">
        <div class="blog-food__imagebox">
          <img
            src="img/BlogImage/blogfood1.jpg"
            alt=""
            srcset=""
            class="blog-food__image"
          />
        </div>
        <div class="blog-food__content">
          <div class="blog-food__publish">
            <img
              src="img/svg/calendar.svg"
              alt=""
              srcset=""
              class="blog-food__publishIcon"
            />
            <i class="blog-food__publishDay">24/12/2023</i>
            <img
              src="img/svg/bubble.svg"
              alt=""
              srcset=""
              class="blog-food__publishIcon"
            />
            <i class="blog-food__response">2.0k</i>
          </div>
          <h4 class="blog-food__titleSmall">Bánh mỳ sandwich</h4>
          <p class="blog-food__paragraph">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi
            cupiditate soluta nam error...
          </p>
          <a href="#" class="btn-link blog-food__cta">Read more</a>
        </div>
      </div>
      <div class="blog-food__box">
        <div class="blog-food__imagebox">
          <img
            src="img/BlogImage/blogfood2.jpg"
            alt=""
            srcset=""
            class="blog-food__image"
          />
        </div>
        <div class="blog-food__content">
          <div class="blog-food__publish">
            <img
              src="img/svg/calendar.svg"
              alt=""
              srcset=""
              class="blog-food__publishIcon"
            />
            <i class="blog-food__publishDay">24/12/2023</i>
            <img
              src="img/svg/bubble.svg"
              alt=""
              srcset=""
              class="blog-food__publishIcon"
            />
            <i class="blog-food__response">2.0k</i>
          </div>
          <h4 class="blog-food__titleSmall">Bánh mỳ sandwich</h4>
          <p class="blog-food__paragraph">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi
            cupiditate soluta nam error...
          </p>
          <a href="#" class="btn-link blog-food__cta">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>