<div class="login-site">
  <div class="login-site__wrapper login-site__wrapper--1">
    <form action="" method="post" class="login-site__form">
      <h4 class="login-site__title">Chào mừng bạn đến với TriBu Pizza</h4>
      <div
        class="form-contact__inputBox u-margin-bottom-small login-site__inputBox"
      >
        <label for="account-name">Tên đăng nhập</label>
        <input
          class="form-contact__input checkout__input"
          type="text"
          name="account-name"
          id="account-name"
          placeholder="Tên đăng nhập"
        />
      </div>
      <div
        class="form-contact__inputBox u-margin-bottom-small login-site__inputBox"
      >
        <label for="account-password">Mật khẩu</label>
        <input
          class="form-contact__input checkout__input"
          type="password"
          name="password"
          id="account-password"
          placeholder="Mật khẩu"
        />
        <div class="passwordHidden">
          <img
            src="img/svg/evil.svg"
            class="icon-svg"
            sizes=""
            alt=""
            srcset=""
          />
        </div>
      </div>
      <button
        type="submit"
        class="btn-link card-order__btn checkout__buy cart__buy u-margin-bottom-small"
      >
        Đăng nhập
      </button>
      <p class="login-site__switchSite">
        Đăng ký <a href="" class="btn-changeSite" id="login-form">tại đây</a>
      </p>
    </form>
    <button class="login-site__button">X</button>
  </div>

  <div class="login-site__wrapper login-site__wrapper--2">
    <form action="" method="post" class="login-site__form">
      <h4 class="login-site__title">Trang đăng ký</h4>
      <div
        class="form-contact__inputBox u-margin-bottom-small login-site__inputBox"
      >
        <label for="account-name">Tên đăng nhập</label>
        <input
          class="form-contact__input checkout__input"
          type="text"
          name="account-name"
          id="account-name"
          placeholder="Tên đăng nhập"
        />
      </div>
      <div
        class="form-contact__inputBox u-margin-bottom-small login-site__inputBox"
      >
        <label for="account-password">Mật khẩu</label>
        <input
          class="form-contact__input checkout__input"
          type="password"
          name="password"
          id="account-password"
          placeholder="Mật khẩu"
        />
        <div class="passwordHidden">
          <img
            src="img/svg/evil.svg"
            class="icon-svg"
            sizes=""
            alt=""
            srcset=""
          />
        </div>
      </div>

      <div
        class="form-contact__inputBox u-margin-bottom-small login-site__inputBox"
      >
        <label for="confirm-password">Xác nhận lại mật khẩu</label>
        <input
          class="form-contact__input checkout__input"
          type="password"
          name="password"
          id="confirm-password"
          placeholder="Xác nhận lại mật khẩu của bạn"
        />
        <div class="passwordHidden">
          <img
            src="img/svg/evil.svg"
            class="icon-svg"
            sizes=""
            alt=""
            srcset=""
          />
        </div>
      </div>
      <button
        type="submit"
        class="btn-link card-order__btn checkout__buy cart__buy u-margin-bottom-small"
      >
        Đăng ký
      </button>
      <p class="login-site__switchSite">
        Đăng nhập <a href="" class="btn-changeSite" id="register-form">tại đây</a> nếu bạn đã có <br />
        tài khoản
      </p>
    </form>
    <button class="login-site__button">X</button>
  </div>
</div>