.item-information {
  padding: 0rem 2rem;
  &__wrapper {
  }
}

.tab-panel {
  &__box {
    display: flex;
    border-bottom: 2px solid $color-text-light-1;
    gap: 0.8rem;
    margin-bottom: 4rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem 3rem;
    @include respond(phone) {
      padding: 1.5rem 6rem;
    }

    @include respond(phoneSmallSize) {
      padding: 1.5rem 5rem;
    }
    font-size: 1.6rem;
    font-family: $font-family-secondary;
    font-weight: 500;
    color: $color-text-dark-2;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    background: none;
    &--active {
      background-color: $color-text-light-1;
    }

    &:hover {
      background-color: $color-text-light-1;
    }

    & span {
      @include respond(phone) {
        display: none;
      }
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    @include respond(phone) {
      width: 3rem;
      height: 3rem;
    }
  }
}

.tab-content {
  font-family: $font-family-secondary;
  padding: 0 2rem;
  &__describe {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 2rem;
  }

  &__list {
    list-style: none;
  }

  &__evaluate {
    padding-left: 2rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
    & img {
      width: 1.5rem;
      height: 1.5rem;
      filter: $icon-color-tertiary;
      padding-top: 0.5rem;
    }
    & p {
      font-size: 1.6rem;
      line-height: 1.8;
    }
  }
}

.tab-graphic {
  &__table {
    font-size: 1.6rem;
    width: 100%;
    border-collapse: collapse;
    & th,
    & td {
      width: 50%;
      height: 6rem;
      padding-left: 2rem;
      border: 1px solid $color-text-light-1;
    }

    & th {
      text-align: left;
      font-family: $font-family-secondary;
      font-weight: 500;
    }

    & td {
      font-family: $font-family-secondary;
      font-weight: 500;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }
}

.tab-comment {
  &__list {
    list-style: none;
  }
  &__items {
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid $color-text-light-1;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    @include respond(phoneSmallSize) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__customerImage {
    width: 15rem;
    border-radius: 50%;
    & img {
      width: 100%;
      border-radius: 50%;
    }
    @include respond(tab-port) {
      width: 25rem;
    }
    @include respond(phoneMediumsize) {
      width: 40rem;
    }
    @include respond(phoneSmallSize) {
      width: 15rem;
    }
  }
  &__customerCommentBox {
    font-family: $font-family-secondary;
    @include respond(phoneSmallSize) {
      text-align: center;
    }
  }
  &__customerName {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    @include respond(phoneSmallSize) {
      font-size: 2.4rem;
    }
  }
  &__customerRating {
    & img {
      width: 2rem;
      height: 2rem;
      filter: $icon-color-secondary;
      user-select: none;
    }
    margin-bottom: 0.8rem;
  }
  &__customerComment {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
    color: currentColor;
    @include respond(phoneSmallSize) {
      text-align: left;
    }
  }

  &__inputBox {
    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__input {
    @include respond(phone) {
      width: 95% !important;
    }

    @include respond(phoneSmallSize) {
      height: 4rem;
    }
  }
}
