.grid-container {
  display: grid !important;
  width: 100%;
  grid-template-columns: [colLeft-start] 1fr [colLeft-end center-start] 4fr [center-end colRight-start] 1fr [colRight-end];
  @include respond(tab-land) {
    grid-template-columns: [colLeft-start] 5rem [colLeft-end center-start] 4fr [center-end colRight-start] 5rem [colRight-end];
  }
}

.main-content {
  width: 100%;
  grid-column: center-start / center-end;
}

.container {
  max-width: 125rem;
  margin: 0 auto;
}
