<figure class="shopStyle-banner">
  <div class="shopStyle-banner__image-container">
    <img
      class="shopStyle-banner__image"
      src="img/background/backshopstyle1.jpg"
      alt="Banner website"
      srcset=""
    />
  </div>
  <div class="shopStyle-banner__content">
    <figcaption class="shopStyle-banner__title">Menu food</figcaption>
    <h3 class="shopStyle-banner__breadcrumb">
      <strong>Home</strong><span>></span> <strong>Menu</strong>
    </h3>
  </div>

  <div class="input-search">
    <input
      type="text"
      value=""
      name=""
      class="input-search__inputTag"
      placeholder="Tìm kiếm món ăn mà bạn muốn"
    />
    <div class="input-search__btnBox">
      <button type="submit" class="input-search__btn">
        <span>search</span>
      </button>
    </div>
  </div>
</figure>